
<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>connexion</title>
<link rel="stylesheet" href="css/style.css"><link>
</head>
<body>
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Admin connexion</h2>

  <form th:action="login"  method="post" th:object="${loginRequest}" class="login-container">
    <input  name="email" type="text" placeholder="Email">
    <input name= "password"type="password" placeholder="Password" >
    <button type="submit" name="sign-in" value="login">connexion</button>
  </form>
</div>
</body>
</html>

<