<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1> Admin connexion</h1>
	<form th:action="@/login" th:object="${loginForm}" method ="post">
		<label for = "username"> Nom de l'utilisateur</label>
		<input type= "text" id= "username" name="username" autofocus ="autofocus"/>
		
		<label for = "password"> Mot de passe</label>
		<input type= "password" id= "password" name="password"/>
		<br>
		<input type="submit" value="log In"/>
	</form>
</body>
</html>